@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-Normal.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-NormalItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-Bold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Tiempos';
  src: url("/fonts/TiemposTextWeb-Regular.woff2") format("woff2"), url("/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: 'Tiempos';
  src: url("/fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"), url("/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
  
body {  
  font-family: Fakt, "San Francisco", -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #2E2F30;
}

h1 { font-size: 2.1em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: #316d96;
}

a:hover {
  color: #39c;
}

ul {
  padding-left: 1.5em;
}

.main {
  width: 800px;
  margin: 5em auto;
  padding: 10px;
  margin-bottom: 0;
}

.header {
  height: 50px;
  margin-bottom: 3em;
}

.header .title {
  float: left;
  line-height: 50px;
}

.header .title h1 {
  margin: 0;
  padding: 0;
}

.header .title a {
  text-decoration: none;
  color: #555;
}

.header .nav-container {
  margin: 0;
  padding: 0;
  float: right;  
  line-height: 60px;
}

.header .nav {
  margin: 0;
  padding: 0;
}

.header .nav li {
  color: #2E2F30;
  font-weight: lighter;
  font-size: 0.85em;
  display: inline;
  list-style: none;
  padding-left: 0;
  padding-right: 15px;
}

.header .nav li:last-child {
  padding-right: 0;
}

.content .intro {
  width: 60%;
}

.content h3 {
  font-size: 18px;
  margin-top: 1.5em;
}