@media screen and (min-width: 900px) {
  .main {
    display: flex;
    margin: 2em auto;
    padding: 2em;
    flex-wrap: wrap;
  }

  .bio {
    flex: 1;
    margin-right: 3em;
  }

  .sections {
    flex: 2;
  }

  .section {
    margin-top: 1.5em;
  }

  .teaser-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .teaser-grid .cell {
    margin: 0.5em;
    margin-left: 0;
    width: calc(33.3333% - 1rem);
  }

}