.photos-pane {
	margin-top: 1.5em;
    width: 100%;
}

.photos-pane-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.photo {
/*	display: table-cell;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: auto;
    padding-right: 1.5em;
    vertical-align: top;
}

.photo:last-child {
	padding-right: 0;
}

.photo-image {
	background: #eee;
}

.photo-image img {
	display: block;
    width: auto;
    height: calc(100vh - 22em);
}

.photo .caption {
	white-space: pre-wrap;
	font-size: 14px;
	margin-top: 0.5em;
}