/* Viewport size */

/* iPhone et al */
@media screen and (max-width: 480px) {

  .main {
    margin: 0 auto;
    padding: 30px auto;
    width: 460px;
  }

  .content {
    padding-top: 10px;
  }

  .content .intro {
    width: 100%;
  }

  .header {
    width: 100%;
  }
  
  .header .title {
    float: none;
  }

  .header .nav-container {
    float: none;
    clear: left;
    line-height: 30px;
    display: inline-block;
  }

  .header .nav li {
    font-size: 13px;
    padding-right: 10px;
    font-weight:400;
  }

  h1,h2 { font-size: 160%; }
  h3 { font-size: 130%; }
  h4 { font-size: 115%; }
  h5, h6 { font-size: 110%; }

}
