/* Viewport size */

/* iPhone et al */
@media only screen 
and (max-width: 480px) 
and (orientation : portrait) {

  .main {
    margin: 40px auto;
    width: 90%;
  }

  .content {
    padding-top: 1em;
  }

  .content .intro {
    width: 100%;
  }
  
  .header .title {
    float: none;
  }

  .header .nav-container {
    float: none;
    clear: left;
    line-height: 30px;
    display: inline-block;
  }

  .header .nav li {
    font-size: 13px;
    padding-right: 10px;
    font-weight:400;
  }

}
