@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-Normal.woff") format("woff");
  font-weight: 400; 
}

@font-face {
  font-family: 'Fakt';
  src: url("/fonts/FaktPro-Bold.woff") format("woff");
  font-weight: bold; 
}

@font-face {
  font-family: 'Tiempos';
  src: url("/fonts/TiemposTextWeb-Regular.woff2") format("woff2"), url("/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400; 
}

body {  
  font-family: Fakt, "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
  color: #5C5E5F;
  font-size: 18px;
}

p, ul {
  line-height: 26.1px;
}

h1, h2, h3 { color: #2E2F30; }
h1 { font-size: 2em; }
h2, h3 { font-weight: normal; }
h1,h2,h3.no-top-margin { margin-top: 0; }
h1,h2,h3.no-bottom-margin { margin-bottom: 0; }

a {
  text-decoration: none;
  color: #316d96;
  color: #4c8edb;
}

a:hover {
  color: #39c;
}

.main {
  max-width: 900px;
  margin: 2em 1em;
}

.social a {
  color: #999;
  margin-right: 0.1em;
}

.sections {
  margin-top: 3em;
}

.responsive-image {
  max-width: 100%;
}

.teaser-grid .cell {
  margin: 0.5rem;
  margin-left: 0;
}

.teaser-grid .cell img {
  display: block;
}