---
layout: home
title: Abhishek Agrawal
---
{% assign project_posts = site.posts | where: "category", "projects" %}
{% assign photo_posts = site.posts | where: "category", "photos" %}
{% assign painting_posts = site.posts | where: "category", "paintings" %}

<div class="bio">
  <h1 class="top-aligned">Abhishek Agrawal</h1>
  <p>
    Hi! I'm Abhishek and this is a collection of some of my art and engineering projects.
  </p>
  <p>I'm currently living in San Francisco and working on a new company. Previously, I 
    was an early PM at <a href="http://dropbox.com" target="_blank">Dropbox</a> and
    an an engineer at a <a href="https://www.microsoft.com/office/labs/" target="_blank">Microsoft Incubation Lab</a>.
  </p>
  <div class="social">
    <a href="https://www.linkedin.com/in/abhishek-agrawal-4ab46616" target="_blank">
      <i class="fa fa-linkedin-square fa-lg"></i>
    </a>
    <a href="https://www.facebook.com/abhishek.agrawal0988" target="_blank">
      <i class="fa fa-facebook-square fa-lg"></i>
    </a>
    <a href="https://github.com/abhishek0988/" target="_blank">
      <i class="fa fa-github-square fa-lg"></i>
    </a>
    <a href="mailto:abhishek88@gmail.com">
      <i class="fa fa-envelope-square fa-lg"></i>
    </a>
  </div>

</div>

<div class="sections">  
  
  <!--<h3 class="no-top-margin"><a href="">Projects</a></h3>-->

  <div class="section">
    <h3 class="no-top-margin no-bottom-margin"><a href="/photos.html">Photography</a></h3>  
    <div class="teaser-grid">
      {% for post in photo_posts limit: 3 %}
          <div class="cell">
            <a href="{{post.url}}">
              <img src="{{post.thumb_url}}" class="responsive-image" title="{{post.title}}"/>
            </a>
          </div>
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <h3 class="no-bottom-margin"><a href="/painting.html">Painting</a></h3>  
    <div class="teaser-grid">
      {% for post in painting_posts limit: 3 %}
          <div class="cell">
            <a href="{{post.url}}">
              <img src="{{post.thumb_url}}" class="responsive-image" title="{{post.title}}"/>
            </a>
          </div>
      {% endfor %}
    </div>
  </div>

</div>
